{
  "development": {
    "connector": [
      {"id": "connector-server-1", "host": "127.0.0.1", "port": 3150, "clientPort": 3010, "frontend": true},
      {"id": "connector-server-2", "host": "127.0.0.1", "port": 3151, "clientPort": 3011, "frontend": true},
      {"id": "connector-server-3", "host": "127.0.0.1", "port": 3152, "clientPort": 3012, "frontend": true}
    ],
    "pool": [
      {"id": "pool-server-1", "host":"127.0.0.1", "port": 6050},
      {"id": "pool-server-2", "host":"127.0.0.1", "port": 6051}
    ],
    "gate":[
      {"id": "gate-server-1", "host": "127.0.0.1", "clientPort": 3014, "frontend": true}
    ]
  },
  "production":{
    "connector": [
      {"id": "connector-server-1", "host": "pool-connector-1.pkrapi.com", "port": 3150, "clientPort": 3010, "frontend": true},
      {"id": "connector-server-2", "host": "pool-connector-2.pkrapi.com", "port": 3150, "clientPort": 3010, "frontend": true},
      {"id": "connector-server-3", "host": "pool-connector-3.pkrapi.com", "port": 3150, "clientPort": 3010, "frontend": true}
    ],
    "pool": [
      {"id":"pool-server-1", "host": "pool-logic-1.pkrapi.com", "port": 6050},
      {"id":"pool-server-2", "host": "pool-logic-2.pkrapi.com", "port": 6050}
    ],
    "gate":[
      {"id": "gate-server-1", "host": "pool-gate.pkrapi.com", "clientPort": 3014, "frontend": true}
    ]
  }
}