.club.partial.hide
  table(class="table")
    tr
      td
        a(href="" class="btn btn-primary" ng-click="sit()") Sit
    tr
      td
        a(href="" class="btn btn-primary" ng-click="general()") General
    tr
      td
        a(href="" class="btn btn-danger" ng-click="getOnlinePlayers()") Online Players    
