.club.partial.hide
  table(class="table")
    tr
      td
        a(href="" class="btn btn-info" ng-click="sit()") Sit
      td
        a(href="" class="btn btn-info" ng-click="gameOver()") Game Over 
      td
        a(href="" class="btn btn-danger" ng-click="standUp()") Stand Up
    tr
      td
        a(href="" class="btn btn-info" ng-click="general()") General
      td
        a(href="" class="btn btn-info" ng-click="getOnlinePlayers()") Online Players
      td
        a(href="" class="btn btn-info" ng-click="updateProfile()") Update Profile
    tr
      td
        a(href="" class="btn btn-info" ng-click="chat()") Chat
      td
        a(href="" class="btn btn-info" ng-click="getMessage()") Send Message
     
