.sign_up.hide.partial
  h1 Welcome
  .col-md-8
    .well
      form(class="form " id="sign-up-form")
        .form-group
          label(class="control-label col-lg-2") First Name 
          .col-lg-12
            input(class="form-control text-field" name="first_name" type="text" id="first_name")
        .form-group
          label(class="control-label col-lg-2") Last Name  
          .col-lg-12
            input(class="form-control text-field" name="last_name"  type="text" id="last_name")
        .form-group
          label(class="control-label col-lg-2") Email  
          .col-lg-12
            input(class="form-control text-field" name="email"   type="text" id="email")
        .form-group
          label(class="control-label col-lg-2") Password  
          .col-lg-12
            input(class="form-control text-field" name="password"   type="text" id="password")
        .form-group
          .col-lg-12
            input(class="btn btn-primary" type="submit" value="Sign Up")
        .clearfix     
