extends layout

block content
  include partials/sign_in
  include partials/sign_up
  include partials/club
  include partials/clubs
  include partials/board
  include partials/dashboard
  include partials/club_configs